# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt
from scipy.stats import ttest_ind

In [2]:
# "tobs" is "temperature observations"
temp_analysis = pd.read_csv('Resources/hawaii_measurements.csv')
temp_analysis.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Checking data types
temp_analysis.dtypes

station     object
date        object
prcp       float64
tobs         int64
dtype: object

In [4]:
# Checking data info
temp_analysis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  object
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 611.1+ KB

In [5]:
# Convert the date column format from string to datetime
temp_analysis['date']= pd.to_datetime(temp_analysis['date'])
temp_analysis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  datetime64[ns]
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 611.1+ KB

In [6]:
# Set the date column as the DataFrame index
temp_analysis.set_index('date')

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

In [7]:
# Drop the date column
temp_analysis.reset_index(drop=True, inplace=True)
temp_analysis.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

### Compare June and December data across all years

In [8]:
from scipy import stats

In [9]:
# Filter data for desired month
june_temp =temp_analysis[temp_analysis['date'].dt.month_name() == 'June']
june_temp

           station       date  prcp  tobs
133    USC00519397 2010-06-01  0.00    78
134    USC00519397 2010-06-02  0.01    76
135    USC00519397 2010-06-03  0.00    78
136    USC00519397 2010-06-04  0.00    76
137    USC00519397 2010-06-05  0.00    77
...            ...        ...   ...   ...
19492  USC00516128 2017-06-26  0.02    79
19493  USC00516128 2017-06-27  0.10    74
19494  USC00516128 2017-06-28  0.02    74
19495  USC00516128 2017-06-29  0.04    76
19496  USC00516128 2017-06-30  0.20    75

[1700 rows x 4 columns]

In [10]:
# Filter data for desired month
dec_temp =temp_analysis[temp_analysis['date'].dt.month_name() == 'December']
dec_temp

           station       date  prcp  tobs
305    USC00519397 2010-12-01  0.04    76
306    USC00519397 2010-12-03  0.00    74
307    USC00519397 2010-12-04  0.00    74
308    USC00519397 2010-12-06  0.00    64
309    USC00519397 2010-12-07  0.00    64
...            ...        ...   ...   ...
19323  USC00516128 2016-12-27  0.14    71
19324  USC00516128 2016-12-28  0.14    71
19325  USC00516128 2016-12-29  1.03    69
19326  USC00516128 2016-12-30  2.37    65
19327  USC00516128 2016-12-31  0.90    65

[1517 rows x 4 columns]

In [11]:
# Identify the average temperature for June
juneavg = june_temp['tobs'].mean()
print('The Average Temperature for Hawaii in June is: Â°F%3.0f'% juneavg)

The Average Temperature for Hawaii in June is: Â°F 75

In [12]:
# Identify the average temperature for December
decavg = dec_temp['tobs'].mean()
print('The Average Temperature for Hawaii in December is: Â°F%3.0f'% decavg)

The Average Temperature for Hawaii in December is: Â°F 71

In [17]:
# Create collections of temperature data
population1 =temp_analysis[temp_analysis["station"] == ('USC00513117')]
population1.tobs.mean()

72.68918420081211

In [21]:
# Create collections of temperature data
population2 =temp_analysis[temp_analysis["station"] == ('USC00519523')]
population2.tobs.mean()

74.5436493068565

In [22]:
# Run paired t-test
stats.ttest_ind(population1.tobs, population2.tobs, equal_var=False)

Ttest_indResult(statistic=-17.033986687486067, pvalue=2.356708083292113e-63)

### Analysis

In [ ]:
Based upon the location of weather stations in Hawaii, there is an extremeley statistically significant differnce in temperatures.